@use '../abstracts' as *;

// Hacked text effect component
#hacked-text {
  font-family: $font-mono;
  color: $text-light;
  cursor: pointer;
  background-color: $primary-color;
  padding: 0.2rem 0.4rem;

  &:hover {
    background-color: $text-light;
    color: black;
  }
}
