@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:host {
    --primary : #8957F6;
    --primary-light : #EA76F8;
    --background : #17141c;

    font-family: "Ubuntu Sans Mono", monospace;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
  }

  :root, * {
    color: white;
    font-family: "Ubuntu Sans Mono", monospace;
  }

  html {
    background-color: #17141c;
  }


  body, html {
    color: white;
    font-family: "Ubuntu Sans Mono", monospace;
  }

  body::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(90deg,rgb(56, 56, 56) 1px,transparent 1px) 0 0 / 100px 100px, linear-gradient(rgb(56, 56, 56) 1px,transparent 1px) 0 0 / 100px 100px;
    top: 0;
    z-index: -1;
    -webkit-mask: linear-gradient(-360deg,transparent 40%,white);
    mask: linear-gradient(-360deg,transparent 30%,white);
  }

  .heading-prefix {
    color: #8957F6;
    font-weight: 400;
    padding: 0.15rem;
  }

  
  .fa-icons {
    color: #8957F6 !important;
    padding-right: 4px;
  }

  hr {
    border-color: #8957f6;
  }