---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
	<div class="p-32">
		<section class="pb-12 pt-8">
			<h1 class="text-3xl">
				<span class="heading-prefix">/</span>about-me 
			  </h1>
		</section>
	</div>
	
</MainLayout>