---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact">
  <div class="p-24">
    <section>
      <h1 class="text-2xl pb-6"><span class="heading-prefix">/</span>contacts</h1>
      <div class="flex flex-row">
        <div class="w-3/4">
          <p class="pb-4 w-3/4">Who am I?</p>
          <p class="text-wrap w-3/4">
            I'm interested in opportunities to work together and learn. I am
            interested in freelance work aswell. However, if you have other
            request or question, don't hesitate to contact me
          </p>
        </div>
        <div class="border-slate-300 border-2 p-3">
          <h2 class="pb-4">Message me here</h2>
          <p>
            <a href="https://www.linkedin.com/in/davidgyongyosi/" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-linkedin fa-icons"></i>linkedin profile url</a>
          </p>
          <p>
            <a href="mailto:david.gyongyosi@majin.dev"><i class="fas fa-envelope fa-icons"></i>Send an email</a>
          </p>
        </div>
      </div>
      <div class="pt-6 pl-4">
        <h1 class="text-xl pb-6">
          <span class="heading-prefix">/</span>other-media
        </h1>
        <ul>
          <li>
            <p>
              <a href="https://github.com/davidgyongyosi" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-github fa-icons"></i>github.com/davidgyongyosi</a>
            </p>
          </li>
          <!--<li>
            <p>
              <i class="fas fa-envelope fa-icons"
              ></i>david.gyongyosi&#64;majin.dev
            </p>
          </li> -->
          <li></li>
        </ul>
      </div>  
    </section>
  </div>
</MainLayout>
