---
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="Home">
	<div>
		<h1>I am an enthusiastic web developer.</h1>
		<p>Currently working as a Frontend Developer.</p>
	
		<button>Contact me</button>
	</div>
</MainLayout>