@use '../abstracts' as *;

// Helper/utility classes

// Icons
.fa-icons {
  color: $primary-color !important;
  padding-right: 4px;
}

// Horizontal rules
hr {
  border-color: $primary-color;
}

// Links
.link {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

// Spans with primary color
span {
  color: $primary-color;
}
