<router-outlet>
  <div className='relative z-0 bg-primary'>
    <p>Under construction</p>
   <!--<div className='bg-hero-pattern bg-cover bg-no-repeat bg-center'>
      <app-navbar></app-navbar>
      <app-hero></app-hero>
    </div>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-tech></app-tech>
    <app-works></app-works>
    <app-feedbacks></app-feedbacks>
    <div className='relative z-0'>
      <app-contact></app-contact>
      <StarsCanvas />
    </div>-->
  </div>
</router-outlet>
