<nav id="draggable-div" aria-label="Main navigation">
  <div class="menu">
    <button class="btn-nav menu-toggle" id="mydivheader" aria-label="Drag to move, double-click to reset" title="Drag to move • Double-click to reset position">
      <span>⋮⋮</span>
    </button>

    <a href="/" class="btn-nav nav-link" data-page="home">
      <span>home</span>
    </a>
    <a href="/works/" class="btn-nav nav-link" data-page="works">
      <span>works</span>
    </a>
    <a href="/about/" class="btn-nav nav-link" data-page="about">
      <span>about</span>
    </a>
    <a href="/contact/" class="btn-nav nav-link" data-page="contact">
      <span>contact</span>
    </a>
  </div>
</nav>