---
const {title} = Astro.props;
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://kit.fontawesome.com/c34400693d.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - {title}</title>
	</head>
	<body>
        <div class="w-screen h-screen flex flex-col">
            <nav class="flex flex-row w-full justify-between items-center pl-16 pr-16 pt-7">
              <h2 class="flex-1 logo">David Gyongyosi</h2>
              <ul class="flex-1 flex flex-row gap-3 justify-between items-center w-full text-lg tracking-wide">
                <li><a href="majin.dev/" class="nav-link"><span class="heading-prefix">#</span>home</a></li>
                <li><a href="majin.dev/works" class="nav-link"><span class="heading-prefix">#</span>works</a></li>
                <li><a href="majin.dev/about" class="nav-link"><span class="heading-prefix">#</span>about</a></li>
                <li><a href="majin.dev/contact" class="nav-link"><span class="heading-prefix">#</span>contact-me</a></li>
              </ul>
            </nav>
            <main class="top-0 flex-grow p-4">
                <slot />
                <div class="divider" role="separator" aria-label="Divider"></div>
            </main>
            </div>
        
	</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll('.nav-link');

        links.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>

<style lang="scss">
    h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    color: #8957F6;
  }

  li {
    color: #717681;
    cursor: pointer;
    font-size: 1.2rem;
    
    color: transparent;
    background-image: linear-gradient(90deg, #8957F6 50%, #717681 50%);
    background-position:100%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip:text;
  
    transition: background-position 0.2s linear;
  
    &:hover:not(.active) {
      background-position:0;

    }
  }

  .active {
    color: white;
  }
</style>